<div>
    <h2 id="page-heading">
        <span>General Msts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-general-mst" [routerLink]="['/general-mst/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new General Mst
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="generalMsts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Orgid</span></th>
            <th><span>Genid</span></th>
            <th><span>Type</span></th>
            <th><span>Name</span></th>
            <th><span>Defunct</span></th>
            <th><span>Creaton</span></th>
            <th><span>Creatby</span></th>
            <th><span>Modifyon</span></th>
            <th><span>Modifyby</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let generalMst of generalMsts ;trackBy: trackId">
                <td><a [routerLink]="['/general-mst', generalMst.id, 'view' ]">{{generalMst.id}}</a></td>
                <td>{{generalMst.orgid}}</td>
                <td>{{generalMst.genid}}</td>
                <td>{{generalMst.type}}</td>
                <td>{{generalMst.name}}</td>
                <td>{{generalMst.defunct}}</td>
                <td>{{generalMst.creaton | date:'medium'}}</td>
                <td>{{generalMst.creatby}}</td>
                <td>{{generalMst.modifyon | date:'medium'}}</td>
                <td>{{generalMst.modifyby}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/general-mst', generalMst.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/general-mst', generalMst.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'general-mst', { outlets: { popup: generalMst.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
